<h1><%= @restaurant.name %></h1>


<div class="card">
  <div class="card-body">    
    <p class="text-bold text-grey"><%= @restaurant.category %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.address %></p>
  </div>
</div>

<h3>Reviews:</h3>
<ul class="list-group" id="list-margins">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <p class="text-bold"><%= review.rating %>/5</p>
      <p><%= review.content %></p>
    </li>
  <% end %>
</ul>

<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>  
  <%= f.submit "Add review", class: "btn btn-dark" %>
<% end %>


